* {
    margin: 0 auto;
}

header{
    background-image: url(bg.jpg);
}

header h1 {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 7px 7px 15px black;
    display: inline-block;
    margin: 1% auto;
    padding-left: 35%;
}

header p {
    font-family: 'Cookie', cursive;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 15px;
    float: unset;
    margin: -2% 35% 2% 47%;
    padding-bottom: 2%;
    color: yellow;
    text-shadow: 2px 2px black;

}

footer {
    background-image: url(bg.jpg)
}

.elefante {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid white;
    display: inline-block;
    margin: 1% 43%;
    box-shadow: 15px 15px 10px black;
    border-radius: 150px;
}

.menu {
    font-family: 'Cookie', cursive;
    font-family: 'RocknRoll One', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding-left: 9%;
    font-weight: lighter;
}

table {
    text-indent: 300px;;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px 1px grey;
}

a:hover {
    font-size: 32px;
    color: rgb(179, 179, 18);
    transition: 0.5s;
}

.introduction p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    width: 35%;
    text-transform: uppercase;
    text-align: center;
    margin: 5% auto;
    font-weight: bold;
    font-size: 20px;
    border: 2px solid rgb(214, 171, 248);
    padding: 10px;
    background-color: rgb(198, 134, 250);
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    text-shadow: 3px 3px 5px grey;
}

.container {
    width: 35%;
    height: 15%;
    box-sizing: border-box;
    border: 2px double white;
    padding: 20px;
    margin: 5% 5% 5% 33%;
    border-radius: 10px;
    box-shadow: 10px 10px 25px black;
    background-image: url(background.jpg)
}

input[type="text"]{
    padding: 5px;
    border: 1px none;
    box-shadow: 3px 3px 5px grey;
    background-color: rgb(226, 207, 252);
    color: grey;
}

input[type="text"]:hover{
    background-color: white;
    padding: 7px;
    transition: 0.5s;
    border: 1px dotted rgb(208, 162, 252);
}

input[type="date"]{
    padding: 5px;
    margin-left: 2%;
    padding-right: 7%;
    border: 1px none;
    box-shadow: 3px 3px 5px grey;
    background-color: rgb(226, 207, 252);
    color: grey;
}

input[type="date"]:hover{
    background-color: white;
    padding-right: 7%;
    transition: 0.5s;
    border: 1px dotted rgb(208, 162, 252);
}

input[type=email]{
    padding: 5px;
    margin-left: 13%;
    border: 1px none;
    box-shadow: 3px 3px 5px grey;
    background-color: rgb(226, 207, 252);
    color: grey;
}

input[type="email"]:hover{
    background-color: white;
    padding: 7px;
    transition: 0.5s;
    border: 1px dotted rgb(208, 162, 252);
}

input[type="button"]{
    padding: 5px;
}

#nome {
    margin-left: 12%;
}

#sobrenomes {
    margin-left: 2%;
}

form {
    margin-left: 25%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:solid;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px grey;
    color: white;
}

input[type="button"]{
    padding: 5px 55px 5px 55px;
    background-color: rgb(245, 190, 88);
    border: 2px solid rgb(250, 211, 139);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration:solid;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px grey;
    color: white;
    box-shadow: 3px 3px 10px grey;

}

input[type="button"]:hover{
    background-color: rgb(252, 122, 122);
    padding: 7px 57px 7px 57px;
    transition: 0.5s;
    border: 1px dotted rgb(245, 180, 82);
    box-shadow: 3px 3px 1px grey;
}

#button1{
    margin-left: 6px;
}