body {
    margin: 0 auto;
}

header{
    background-image: url(bg.jpg);
}

header h1 {
    font-family: 'RocknRoll One', sans-serif;
    font-size: 70px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-shadow: 7px 7px 15px black;
    display: inline-block;
    margin: 1% 32% 2% 34%;

}

header p {
    font-family: 'Cookie', cursive;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 15px;
    float: unset;
    margin: -2% 35% 2% 47%;
    padding-bottom: 2%;
    color: yellow;
    text-shadow: 2px 2px black;

}

footer {
    background-image: url(bg.jpg)
}

.elefante {
    width: 200px;
    box-sizing: border-box;
    border: 2px solid white;
    display: inline-block;
    margin: 1% 43%;
    box-shadow: 15px 15px 10px black;
    border-radius: 150px;
}

.menu {
    font-family: 'Cookie', cursive;
    font-family: 'RocknRoll One', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    padding-left: 9%;
    font-weight: lighter;
}

table {
    text-indent: 300px;
}

a{
    text-decoration: none;
    font-size: 30px;
    color: black;
    text-shadow: 2px 2px 1px grey;
}

a:hover {
    font-size: 32px;
    color: rgb(179, 179, 18);
    transition: 0.5s;
}

.imagens {
    width: 300px;
    height: 240px;
    border: 1px dotted grey;
    border-radius: 10px;
    vertical-align: top;
    padding-bottom: 30%;
    display: inline-block;
    box-shadow: 8px 8px 10px grey;
}

.descricao {
    display: inline-block;
    width: 350px;
    vertical-align: top;
    margin-left: 3%;
}

.descricao p {
    display: inline-block;
    width: 295px;
    vertical-align: bottom;
    margin: 0 auto;
    position: relative;
    bottom: 105px;
    font-size: 13px;
    text-align: justify;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.guia {
    margin-left: 18%;
    margin-top: 3%;
}

.midtextlink {
    font-size: 30px;
    text-decoration: none;
    text-transform: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: none;
    color: rgb(196, 196, 21);
}

.midtextlink:hover {
    font-size: 30px;
    text-decoration: none;
    text-transform: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: none;
    color: rgb(179, 97, 247);
}

.meme {
    margin: 0 auto -10% auto;
}

.meme p {
    font-size: 30px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    margin: 0 15% 0 25%;
    box-sizing: border-box;
    border: 2px groove grey;
    text-align:justify;
    padding: 0 15px;
    box-shadow: 10px 10px 10px grey;
    vertical-align: bottom;
}

.memeimage {
    width: 445px;
    display: inline-block;
    position: relative;
    bottom: 230px;
    left: 15px;
}

h2 {
    padding-left: 6%;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px grey;
}

.videos h1 {
    font-family: 'Cookie', cursive;
    font-family: 'RocknRoll One', sans-serif;
    text-align: center;
    color: white;
    background-image: linear-gradient(rgb(247, 105, 105), rgb(250, 14, 14));
    margin: 5% 10% 3% 10%;
}

.ytvideos {
    width: 550px;
    height: 350px;
    border-color: white;
    margin-left: 15px;
    position: relative;
    left: 5%;
    border-radius: 10px;
    box-shadow: 7px 7px 1px rgb(207, 61, 61);

    /*border-image: none;*/
    /*border-style: hidden;*/
}

.charts {
    margin-left: 15%;
}

.topmusic, .topalbums, .topartists {
    display: inline-block;
    margin: 7% 1% 5% 1%;
}

.topmusic table tr td {
    border: 1px solid rgb(190, 190, 190);
    text-indent: initial;
    text-align: left;
    padding: 5px;
    background-color: rgb(162, 109, 197);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    box-shadow: 5px 5px 20px grey;
}

.topalbums table tr td {
    border: 1px solid rgb(190, 190, 190);
    text-indent: initial;
    text-align: left;
    padding: 5px;
    background-color: rgb(162, 109, 197);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    box-shadow: 5px 5px 20px grey;
}

.topartists table tr td {
    border: 1px solid rgb(190, 190, 190);
    text-indent: initial;
    text-align: left;
    padding: 5px;
    background-color: rgb(162, 109, 197);
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    box-shadow: 5px 5px 20px grey;
}

.topmusic table tr td:hover {
    background-color: rgb(187, 187, 94);
}

.topalbums table tr td:hover {
    background-color: rgb(187, 187, 94);
}

.topartists table tr td:hover {
    background-color: rgb(187, 187, 94);
}

.charts h1 {
    font-size:15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 3px 3px 3px rgb(226, 181, 252);
}

@media screen and (max-width: 925px){
    header h1 {
        margin: 1% 32% 2% 34%;
        text-align: center;
        font-size: 19px;
    
    }

    header p {
        text-align: center;
        margin-left: 35%;
    }

    a {
        text-indent: 15px;
    }
}